
.message-board {
  min-height: 300rpx;
  z-index: 10;
  position: relative;
  margin: 20rpx;
  margin-top: 120rpx;
  .no-data{
    text-align: center;
    line-height: 100rpx;
  }
  &.noMargin{
    margin-top: 0;
    .header{
      margin-top: 0;
      .head-profile{
        top: 0;
      }
    }
  }
  .cu-btn {
    color: #fff;
    background-color: #1aad19;
  }
  .title {
    min-height: 80rpx;
    font-size: 36rpx;
    text-indent: 20rpx;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .input-box {
    width: 80%;
    margin: 40rpx auto 20rpx;
    border-radius: 50rpx;
    height: 80rpx;
    border: 2px solid #911904;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background-color: rgba($color: #911904, $alpha: 0.7);
  }
  .header {
    padding: 20rpx;
    display: flex;
    justify-content: space-between;
    margin-top: 100rpx;
    background-color: #fff;
    border-radius: 10rpx 10rpx 0 0;
    .head-handler {
      flex: 1;
    }
    .head-profile {
      width: 120rpx;
      height: 120rpx;
      position: relative;
      top: -80rpx;
      image {
        width: 100%;
        border-radius: 20rpx;
        height: 100%;
      }
    }
  }
  .timeline-box {
    padding: 20rpx;
    background-color: #fff;
    border-radius: 0 0 10rpx 10rpx;
    display: flex;
    width: 100%;
    flex-direction: column;
    .timeline-item {
      display: flex;
      padding: 20rpx 0;
      border-top: 1px solid #f1f1f1;
      // border-bottom: 1px solid #f1f1f1;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .left {
      .left-profile {
        border-radius: 10rpx;
        width: 80rpx;
        height: 80rpx;
      }
    }
    .right {
      flex: 1;
      margin: 0 20rpx;
      .title-text {
        color: #009688;
        font-size: 36rpx;
        .org-name {
          font-size: 24rpx;
        }
      }
      .content {
        padding: 10rpx 0;
      }
      .picture-box {
        padding: 10rpx 0;
        display: flex;
        flex-wrap: wrap;
        .img-list {
          width: 100%;
          flex: 1;
        }
        .picture {
          width: calc(33.33% - 20rpx / 3);
          margin-right: 20rpx;
          margin-bottom: 20rpx;
        }
      }
      .location{
        font-size: 24rpx;
        padding: 8rpx 0;
      }
      .footer{
        display: flex;
        justify-content: space-between;
        padding-top:10rpx ;
        .create-time{
          color: #666;
          font-size: 24rpx;
        }
        .delete-handler{
          margin-left: 20rpx;
          .cuIcon-delete{
            margin-right: 10rpx;
          }
        }
      }
    }
  }
  .to-more{
    padding: 20rpx;
    text-align: center;
    .text{
      &::before,&::after{
        content: '——————';
        color: #f1f1f1;
      }
    }
  }
}