.bx-bg-red{
  color: #fff!important;
  background-color: #fe5a3f!important;
  background-image: none!important;
}
.bx-text-red{
  color:  #fe5a3f!important;
}
.bx-border-red{
  border-color: #fe5a3f!important;
}
.border-left-red{
  border-left-color: #fe5a3f!important;
  &::after{
    border-left-color: #fe5a3f!important;
  }
}
.bx-line-btn-red{
  border: 1px solid;
  border-color: rgba($color: #fe5a3f, $alpha: 0.3)!important;;
  color: #fe5a3f!important;
}
.bx-border-bottom-red{
  border-bottom-color: #fe5a3f!important;
  &::after{
    background-color:  #fe5a3f!important;
  }
}
.bx-btn-bg-red{
  background-image: none;
    background-color: rgba($color: #fe5a3f, $alpha: 0.2)!important;
    border-color: #fe5a3f!important;
    color: #fe5a3f!important;
}