@import "./coffee.scss";


$bx-color-primary:#BFA58B;


$bx-text-color-primary:#ffffff;
$bx-tip-text-color:#B8BAC0;

$bx-font-size-title:16px;
$bx-font-size-primary:14px;
$bx-font-size-tip:12px;

$bx-btn-radius:20px;

$bx-card-radius:8px;
